//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    form(method="POST" action="/users/new")
        .field
            .label Make
            .control
                input.input(type="text" placeholder="Car Brand" name="make")
        .field
            .label Model
            .control
                input.input(type="text" placeholder="model" name="model")
        .field
            .label Year
            .control
                input.input(type="text" placeholder="year" name="year")
        .field
            .label Plate_Number
            .control
                input.input(type="text" placeholder="plate_number" name="plate_number")
       
        .field
            .label Condition
            .control
                input.input(type="text" placeholder="Brand New or Pre-owned" name="vcondition")        
        input(type="submit" value="Submit")